body{
  padding-top: 75px;
  /*background-color: rgb(54, 53, 65);*/
  background-color: rgb(15, 14, 26);
}

p{
  color: white;
  font-family: Kanit, Arial;
  font-size: 20px;
  line-height: 33px;
  font-weight: 400;

}

.titles{
  color: white;
  display: flex;
  font-family: Kanit, Arial;
  font-weight: 500;
  font-size: 40px;
}

th, tr{
  color: white;
}